This document contains test execution of the test cases related to https:grocerymate.masterschool.com
### scenario 1: Verify submitting 1star rating.
As a user of GroceryMate, I am able to buy a product and give a 1 star rating. 
| Step# | Action                       | Expected outcome                                                   | OK/NOK | URL                                       | Link to Issue |
|-------|------------------------------|--------------------------------------------------------------------|--------|-------------------------------------------|---------------|
| 1     | Go to login page GroceryMate | Login page appears                                                 | OK     | https://grocerymate.masterschool.com/     |               |
| 2     | Click on login Icon          | You are directed to login page                                     | OK     | https://grocerymate.masterschool.com/auth |               |
| 3a    | Fill in username             |                                                                    | OK     |                                           |               |
| 3b    | Fill in password             |                                                                    | OK     |                                           |               |
| 3c    | click on sign in button      | user is redirefted to the homepage with logged in status           | OK     |                                           |               |
| 4     | Click on the menu item       | shop page is displayed. |                                          | OK     |                                           |               |
| 5     | Add a product to the cart    | product is added to to the cart and You are successfully logged in | OK     |                                           |               |
### scenario 2: Verify shipping cost changes.
As a user of GroceryMate, I am able to buy a product and make shipment. 
| Step# | Action                       | Expected outcome                                                   | OK/NOK | URL                                       | Link to Issue |
|-------|------------------------------|--------------------------------------------------------------------|--------|-------------------------------------------|---------------|
| 1     | Go to login page GroceryMate | Login page appears                                                 | OK     | https://grocerymate.masterschool.com/     |               |
| 2     | Click on login Icon          | You are directed to login page                                     | OK     | https://grocerymate.masterschool.com/auth |               |
| 3a    | Fill in username             |                                                                    | OK     |                                           |               |
| 3b    | Fill in password             |                                                                    | OK     |                                           |               |
| 3c    | click on sign in button      | user is redirefted to the homepage with logged in status           | OK     |                                           |               |
| 4     | Click on the menu item       | shop page is displayed. |                                          | OK     |                                           |               |
| 5     | Add a product to the cart    | product is added to to the cart and You are successfully logged in | OK     |                                           |               |



